EXPO_PUBLIC_API_URL=https://api.kamiyo.ai
EXPO_PUBLIC_SOLANA_NETWORK=mainnet-beta
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
EXPO_PUBLIC_KAMIYO_PROGRAM_ID=3ZYPtFBF8rfRYvLi5QUnU4teHPzFEpHuz6dUZry9FRKr
EXPO_PUBLIC_KAMIYO_ESCROW_PROGRAM_ID=FVnvAs8bahMwAvjcLq5ZrXksuu5Qeu2MRkbjwB9mua3u
