# Environment template for oracle
# Copy to .env and set values for your target environment.

DISPUTE_INTERVAL=
ORACLE_PRIVATE_KEY=
PORT=
REQUIRED_SIGNATURES=
RPC_URL=
TRUSTED_ORACLES=
UPDATE_INTERVAL=
